{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/screens/(.*)$",
    "^@/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/shared/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$",
    "(.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
